<!--ESTUDIOS-->
    <div class="estudios" >
        <h1>ESTUDIOS</h1>
        <div class="carrera">
        <ul>
            <li *ngFor="let estudio of estudios">
                
                    <div class="img__carrera">
                        
                        <img [src]="'assets/img/'+estudio.imagen" alt="">
                        
                        <h4>{{estudio.nombre}}</h4>
                        <p class="time">{{estudio.fecInicio}} - {{estudio.fecFin}}</p>
                        <p>{{estudio.descripcion}}</p>
                    </div>
                    
                
            </li>
        </ul> 
        </div>
    </div>
