<app-crud-estudios></app-crud-estudios>
<div class="contenedor">
    <div class="card">
        <div class="card-header">
            <h3>Estudios</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>INICIO</th>
                        <th>FIN</th>
                        <th>DESCRIPCION</th>
                        <th>IMAGEN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudio of estudios"class="text-center">
                        <td class="column" >{{estudio.id}}</td>
                        <td class="column" >{{estudio.nombre}}</td>
                        <td class="column" >{{estudio.fecInicio}}</td>
                        <td class="column" >{{estudio.fecFin}}</td>
                        <td class="column" >{{estudio.descripcion}}</td>
                        <td class="column" >{{estudio.imagen}}</td>
                        <td class="td-button">
                            <button (click)="Editar(estudio.id)" class="btn btn-warning">Editar</button>
                            <button (click)="Eliminar(estudio.id)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>