<app-crud-habilidades-blandas></app-crud-habilidades-blandas>
<div class="contenedor">
    <div class="card">
        <div class="card-header">
            <h3>Habilidades Blandas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>NIVEL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let progresoSoft of progresosSoft"class="text-center">
                        <td class="column" >{{progresoSoft.id}}</td>
                        <td class="column" >{{progresoSoft.nombre}}</td>
                        <td class="column" >{{progresoSoft.nivel}}</td>
                        <td class="td-button">
                            <button (click)="Editar(progresoSoft.id)" class="btn btn-warning">Editar</button>
                            <button (click)="Eliminar(progresoSoft.id)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>