<!--
<div class="contenedor">
  
    <form [formGroup]="form" (ngSubmit)="onEnviar()">
      <h1>Iniciar Sesion</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" formControlName="email" 
          [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
          class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div  *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido.
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email debe ser valido.
            </p>
          </div>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" formControlName="password"
          [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}"
          class="form-control" id="exampleInputPassword1">
          <div  *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">
                La contraseña es requerida.
            </p>
            
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>-->

<div class="contenedor">
  
  <form #form="ngForm" (ngSubmit)="login(form)">
    <h1>Iniciar Sesion</h1>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" [(ngModel)]="creds.email" id="email" class="form-control" aria-describedby="emailHelp">
        
        
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Contraseña</label>
        <input type="password" name="password" [(ngModel)]="creds.password" id="password"
        
        class="form-control" >
        
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>