<div class="container">
<ul class="progress_bar">
    <li *ngFor="let progreso of progresoList">
        <circle-progress
            [percent]='progreso.nivel'
            [subtitle]='progreso.title'
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(26, 255, 0)'"
            [innerStrokeColor]="'rgb(119, 0, 255)'"
            [animation]="true"
            [animationDuration]="1000"
            [subtitleColor]="'rgb(255, 255, 255)'"
            [subtitleFontSize]="'19'"
            [subtitleFontWeight]="'600'"
            [unitsFontSize]="'15'"
            [titleFontSize]="'15'"
        ></circle-progress>
    </li>
</ul>
</div>