
.contenedor{
    padding-top: 150px;
    *padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: black;
}

li{
    display: inline;
}

.contenedor2{
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor2 h1{
    text-align: center;
    padding-top: 60px;
    margin-top: 0;
    margin-bottom: 60px;
}
.progress_bar2{
    margin-bottom: 30px;
}
