
.infoPersonal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-left: 120px;
    margin-right: 120px; 
    
}

.perfil{
    width: 400px;
    height: 400px;
    margin-left: 3%;
}

.perfil img{
    max-width: 400px;
    max-height: 400px ;
    border-style: solid;
    border-radius: 400px;
    border-color: transparent;
}

.sobreMi{
    background-repeat: no-repeat;
    background-size:580px;
    background-position: center ;
    width: 580px;
    height: 600px;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMi__desc{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.317);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sobreMi__desc h1, p{
    background-color: transparent;
    text-shadow: 3px 3px 4px  rgb(0, 0, 0);
    
}
.sobreMi__desc p{
    width: 400px;
    *text-align: justify;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}


.capa__leerMas{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

@media (max-width:1280px) {
.infoPersonal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px; 
    margin-bottom: 3%;
}

.perfil{
    width: 400px;
    height: 400px;
    margin-left: 3%;
}

.perfil img{
    max-width: 400px;
    max-height: 400px ;
    border-style: solid;
    border-radius: 400px;
    border-color: transparent;
}

.sobreMi{
   
    background-image:url(/../../../assets/img/my-portfolio.png);
    background-repeat: no-repeat;
    background-size:580px;
    background-position: center ;
    width: 580px;
    height: 600px;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMi__desc{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.317);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sobreMi__desc h1, p{
    background-color: transparent;
    text-shadow: 3px 3px 4px  rgb(0, 0, 0);
}
.sobreMi__desc p{
    width: 400px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    
}


.capa__leerMas{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

   
}

@media (max-width:1060px) {
    .infoPersonal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px; 
        margin-bottom: 3%;
    }
    
    .perfil{
        width: 300px;
        height: 300px;
        margin-left: 3%;
    }
    
    .perfil img{
        max-width: 300px;
        max-height: 300px ;
        border-style: solid;
        border-radius: 300px;
        border-color: transparent;
    }
    
    .sobreMi{
       
        background-image:url(/../../../assets/img/my-portfolio.png);
        background-repeat: no-repeat;
        background-size:400px;
        background-position: center ;
        width: 400px;
        height: 400px;
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sobreMi__desc{
        width: 100%;
        height: 410px;
        background-color: rgba(0, 0, 0, 0.317);
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .sobreMi__desc h1, p{
        background-color: transparent;
        text-shadow: 3px 3px 4px  rgb(0, 0, 0);
    }
    .sobreMi__desc p{
        width: 280px;
        text-align: justify;
        margin-right: auto;
        margin-left: auto;
        
    }
    
    
    .capa__leerMas{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }
        
}

@media (hover:hover){
    .perfil img:hover{
        border-color:rgb(119, 0, 255) ;
    }
    
}
    


