.contenedor{
    margin:0;
    width: 100%;
    background-color: black;
}
.card{
    text-align: center;
    padding-bottom: 20px;
    background-color: black;  
}

.td-button{
    width: 200px;
}

button{
margin-left: 10px;
}

.column{
    
    max-width: 50px;
}