<!--
<div class="container">
    <app-header></app-header>
  </div>  
  <main>
    <div class="container">
      <app-info-personal></app-info-personal>
    </div>
    <div class="container">
      <app-experiencia></app-experiencia>
    </div>
    <div class="container">
        <app-estudios></app-estudios>
    </div>
    <div class="container">
        <app-progreso></app-progreso>
    </div>
    <div class="container">
        <app-proyectos></app-proyectos>
    </div>
  

</main>
-->
<app-header></app-header>
<router-outlet></router-outlet>

