/*PROYECTOS*/
.proyectos{
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
}

ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: black;
    max-width: calc(100%-(100%/3));
}

li{
    display: inline-flex ;
    margin-bottom: 40px;
}

.img__proyecto{
    width: 300px;
    margin: 0px 98px;
    
}

.img__proyecto img{
    max-width: 200px;
    max-height: 200px;
    border-radius:100%;
}

.img__proyecto p{
    max-width: 300px;   
}

.img__proyecto h4{
    margin: 20px 0px;  
}

a{
    background-color: rgb(26, 255, 0);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-style: none;
}

@media(hover:hover ){
    a:hover{
        background-color: rgb(119, 0, 255);
    }
}