<!--PROYECTOS-->
<div class="proyectos">
    <h1>PROYECTOS</h1>
    <div class="proyecto">
        <ul>
            <li *ngFor="let proyecto of proyectos">
                <div class="img__proyecto">
                    <img [src]="'assets/img/'+proyecto.imagen" alt="">
                
                    <h4>{{proyecto.nombre}}</h4>
                    <p>{{proyecto.fecInicio}} - {{proyecto.fecFin}}</p>
                    <p>{{proyecto.descripcion}}</p>
                    <a [href]="proyecto.link">Ver Más</a>
                </div>
            
            </li>
        </ul>
    </div>
</div>
    
