.experiencia{
    padding-top: 150px;
}
.titulo_experiencia{
    text-align: center;
    padding-bottom: 90px; 
}

.info_experiencia{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 300px;
    margin-left: 300px;
}

.img_experiencia{
    width: 200px;
    height: 200px;
}

.img_experiencia img{
    max-width: 200px;
    max-height: 200px ;
    border-style: solid;
    border-radius: 200px;
    border-color: transparent;
}

/*.fondo{
    *background-image:url(/assets/img/fondo.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center ;
}*/




.desc__experiencia{
    max-width: 300px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: rgb(26, 255, 0);
    *border-color: rgb(119, 0, 255);
    text-align: center;
    padding-top: calc((100% - 150px)/2);
    padding-bottom: calc((100% - 150px)/2) ;
}

.desc__experiencia h4, p{
    background-color: transparent;
    text-shadow: 3px 3px 4px  rgb(0, 0, 0);
}
.desc__experiencia p{
    width: 250px;
    *text-align: justify;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin: 10px 25px 0px 25px;
    
}

h4{
    padding-bottom: 20px;
    background-color: transparent;
}

p{
    background-color: transparent;
}

ul{
    list-style: none;
    padding: 0;
}



@media (hover:hover){
    .desc__experiencia:hover{
        border-color: rgb(119, 0, 255);
    }

    .img_experiencia img:HOVER{
        border-color: rgb(119, 0, 255);
    }
}