<section><!--EXPERIENCIA-->
    <article class="experiencia">
        <div class="titulo_experiencia">
            <h1>EXPERIENCIA LABORAL</h1>
        </div>
    <ul>
        <li *ngFor="let trabajo of trabajos">
            <div class="info_experiencia">
                <div class="fondo" >

                    
                    <div class="desc__experiencia">
                        <h4>{{trabajo.nombre}}</h4>
                        <p class="time">{{trabajo.fecInicio}} - {{trabajo.fecFin}}</p>
                        <p>{{trabajo.descripcion}}</p>
                    </div>
                
                </div>
                <div class="img_experiencia">
                    <img [src]="'assets/img/'+trabajo.imagen" alt="">
                </div>
                
            </div>
        </li>
    </ul>
    
    </article>
</section>